html {
	min-height: 100%;
	width: 100%;
	display: flex;
}

body {
	min-height: 100%;
	min-width: 100%;
	display: flex;
	box-sizing: border-box;
	margin: 0;
}

.md-block {
	display: block;
	width: 100%;
}

.md-content {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}